---
import MainLayout from '../../../layouts/MainLayout.astro';
import PlayCard from '../../../components/PlayCard.astro';
import PaginationControls from '../../../components/PaginationControls.astro';
import { getCollection } from 'astro:content';
import { slugify } from '../../../utils/slugify.js';

export async function getStaticPaths({ paginate }) { 
  const allPlays = await getCollection('obras');
  const uniqueTags = [...new Set(allPlays.flatMap(play => play.data.tags))];

  return uniqueTags.flatMap(tag => {
    const slug = slugify(tag);
    const filteredPlays = allPlays.filter(play => play.data.tags.includes(tag));
    const sortedPlays = filteredPlays.sort((a, b) => new Date(b.data.published).getTime() - new Date(a.data.published).getTime());
    return paginate(sortedPlays, {
      pageSize: 6,
      params: { tag: slug },
      props: { originalTag: tag },
    });
  });
}
const { page, originalTag } = Astro.props;
const { data: paginatedPlays, currentPage } = page;
---
<MainLayout 
  title="Tteatro"
  description={`Obras con el tag ${originalTag}.`}
>
  <div class="container mx-auto py-12 px-4">
    <div class="text-center mb-8">
      <p class="font-sans text-brand-text/70">Mostrando obras con el tag</p>
      <h1 class="font-display text-4xl text-brand-dark">{originalTag}</h1>
    </div>

    <main class="lg:col-span-9">
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-8">
      {paginatedPlays.map(obra => (
        <PlayCard 
          title={obra.data.title}
          company={obra.data.company}
          tags={obra.data.tags}
          slug={obra.slug}
          landscapeImage={obra.data.image}
        />
      ))}
    </div>

    <div class="mt-12">
      <PaginationControls page={page} />
    </div>
    
  </div>
</MainLayout>